
// ...
html body.is--ctl-checkout.is--act-finish {
    section.content-main div.content-main--inner {
        margin-bottom: 20px;
    }
}



// remove agb chechbox
html body.is--ctl-checkout.is--act-confirm {
    div.tos--panel {
        display: none;
    }
}



// remove "add-product" and fix last row from product tablee
html body.is--ctl-checkout.is--act-cart {
    form.table--add-product.add-product--form {
        display: none;
    }
    .product--table .table--tr.is--last-row {
        border-bottom: none;
    }
}



// remove voucher checkbox
html body.is--ctl-checkout.is--act-cart {
    .product--table .add-voucher--form {
        .add-voucher--checkbox {
            display: none;
        }
        .add-voucher--label {
            display: none;
        }
        .add-voucher--panel {
            margin-top: 0;
        }
        .add-voucher--panel.is--hidden {
            display: block !important;
        }
    }
}