
// default html stuff
html {
    background: #ffffff;

    div.page-wrap {
        background-color: #ffffff;

        section.content-main {
            border: 0;
            box-shadow: 0 0 0 0;
            margin-bottom: 0;
        }
    }
}




// every page has to be more on the edges for tablet and terminal
@media screen and (min-width: @tabletViewportWidth) {
    html {
        div.page-wrap {
            section.content-main {
                div.content-main--inner {
                    padding: 0 20px 0 20px;
                }
            }
        }
    }
}



