

// we need to hide the cart because the offcanvas menu needs its
.shop--navigation .entry--cart {
    display: none;
}



// everything for the header
header.header-main {

    // defaults for search container
    nav.shop--navigation li.navigation--entry.entry--search {
        width: 60%;
        margin-top: 5px;
        margin-right: 0;

        form.main-search--form {
            border: 0;

            input.main-search--field {
                background: white;
                border: 1px solid #bfbfbf;
                border-radius: 0;
            }

            button.main-search--button {
                i.icon--search {
                }
            }
        }
    }

    // logo
    div.logo-main {
        div.logo--shop {
            width: 100%;
        }
    }

    // back and forth navigation
    nav.shop--navigation li.navigation--entry.entry--navigaton-back,
    nav.shop--navigation li.navigation--entry.entry--navigaton-forth {
        font-size: 52px;
        position: absolute;
        cursor: pointer;
        margin: 0;
    }

    nav.shop--navigation li.navigation--entry.entry--navigaton-back {
        width: 10%;
        right: 10%;
    }

    nav.shop--navigation li.navigation--entry.entry--navigaton-forth {
        width: 10%;
        right: 0;
    }

    nav.shop--navigation li.navigation--entry.entry--salesman-finder {
        font-size: 42px;
        position: absolute;
        margin: 0;
        cursor: pointer;
        width: 8%;
        right: 29%;
        padding-top: 6px;
        display: none;
    }

    nav.shop--navigation li.navigation--entry.entry--salesman-finder.icon--salesman-finder {
        /* background: url(/custom/plugins/OstSalesmanFinder/Resources/frontend/img/salesman-finder--idle--icon.png); */
        height: 52px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    // shopping cart icon
    nav.shop--navigation li.navigation--entry.entry--cart {
        position: absolute;
        cursor: pointer;
        width: 8%;
        right: 20%;

        a.cart--link {
            border: 0;
            background: none;

            span.badge.cart--quantity {
                margin-left: 20px;
                margin-top: 4px;
                color: inherit;
                background: white;
                border-width: 1px;
                border-style: solid;
            }

            i.icon--basket {
                font-size: 33px;
                padding-top: 4px;
            }

            span.cart--amount {
                display: none;
            }
        }

        a.cart--link:hover {
            color: inherit;
        }
    }

}




// align left and right with edges of listing
@media screen and (min-width: @tabletViewportWidth) {
    header.header-main {
        div.logo-main {
            padding-left: 20px;
        }
        nav.shop--navigation li.navigation--entry.entry--navigaton-forth {
            right: 13px;
        }
    }
}



// fix tablet viewport
@media screen and (max-width: @tabletLandscapeViewportWidth) and (min-width: @tabletViewportWidth) {

    header.header-main {

        // shopping cart icon
        nav.shop--navigation li.navigation--entry.entry--cart {
            margin-top: 6px;
            margin-left: -20px;

            a.cart--link {

                span.badge.cart--quantity {
                    margin-left: 10px;
                    margin-top: 0;
                }

                i.icon--basket {
                }

                span.cart--amount {
                }
            }

            a.cart--link:hover {
            }
        }
    }
}



// show login button by default
body header.header-main {
    nav.shop--navigation li.icon--evernote.ost-consultant--login {
        // display: none;
    }
}

// hide login button when logged in
body.is--consultant header.header-main {
    nav.shop--navigation li.icon--evernote.ost-consultant--login {
        display: none;
    }
}



// fix search input for very low viewports
@media screen and (max-width: @tabletViewportWidth) {
    header.header-main {
        nav.shop--navigation li.navigation--entry.entry--search {
            left: 45%;
            width: 50%;
            top: -47px;
        }
    }
}



// fix header for specific viewport range
@media screen and (min-width: @phoneLandscapeViewportWidth) and (max-width: @tabletViewportWidth) {
    header.header-main {
        nav.shop--navigation ul.navigation--list {
            li.navigation--entry.entry--navigaton-back, li.navigation--entry.entry--navigaton-forth {
                display: none;
            }
            li.navigation--entry.entry--search {
                left: 45%;
                width: 40%;
                top: -47px;
            }
            li.ost-consultant--login {
                right: 2% !important;
                width: 11% !important;
                top: -47px;
            }
        }
    }
}



// fix header for exactly that 1px tablet viewport width
@media screen and (min-width: @tabletViewportWidth) and (max-width: @tabletViewportWidth) {
    header.header-main {
        nav.shop--navigation ul.navigation--list {
            li.navigation--entry.entry--navigaton-back, li.navigation--entry.entry--navigaton-forth {
                display: inherit;
            }
            li.navigation--entry.entry--navigaton-back {
                right: 12%;
            }
            li.navigation--entry.entry--search {
                top: inherit;
                left: 10%;
                width: 50%;
            }
            li.navigation--entry.entry--cart {
                right: 22% !important;
                width: 16% !important;
            }
            li.ost-consultant--login {
                right: 22% !important;
                width: 16% !important;
                top: inherit;
            }
        }
    }
}




body {
    header.header-main {
        nav.shop--navigation li.navigation--entry.entry--salesman-finder.icon--salesman-finder {
            display: list-item;
        }
        nav.shop--navigation li.navigation--entry.entry--salesman-finder.icon--chat {
            display: none;
        }
    }
}



body.is--consultant {
    header.header-main {
        nav.shop--navigation li.navigation--entry.entry--salesman-finder.icon--salesman-finder {
            display: none !important;
        }
        nav.shop--navigation li.navigation--entry.entry--salesman-finder.icon--chat {
            display: list-item;
        }
    }
}


