
html body.is--ctl-listing, html body.is--ctl-ostarticlesearch {

    .sidebar-main div.sidebar--categories-wrapper {
        display: none !important;
    }

    div.content--wrapper {
        margin-left: 0 !important;
    }

    div.product--box.box--4column {
        width: 25% !important;

        div.product--price-info {
            text-align: right;
        }
    }

    div.product--box.box--5column {
        width: 20% !important;

        div.product--price-info {
            text-align: right;
            height: 20px;
        }

        .product--image {
            height: 150px;
        }
    }

    div.product--box.box--6column {
        width: 16.66666666% !important;

        div.product--price-info {
            text-align: right;
            height: 20px;
        }

        .product--image {
            height: 120px;
        }
    }
}