
html body.is--ctl-listing, html body.is--ctl-ostarticlesearch {

    .sidebar-main div.sidebar--categories-wrapper {
        display: none !important;
    }

    div.content--wrapper {
        margin-left: 0 !important;
    }

    div.product--box.box--4column {
        width: 25% !important;

        div.product--price-info {
            text-align: right;
            height: 20px;
        }

        .product--image {
            height: 213px;
            margin-top: -10px;
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    div.product--box.box--5column {
        width: 20% !important;

        div.product--price-info {
            text-align: right;
            height: 20px;
        }

        .product--image {
            height: 166px;
            margin-top: -10px;
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    div.product--box.box--6column {
        width: 16.66666666% !important;

        div.product--price-info {
            text-align: right;
            height: 20px;
        }

        .product--image {
            height: 136px;
            margin-top: -10px;
            margin-left: -10px;
            margin-right: -10px;
        }
    }
}




// remove whitespace on top of listing
@media screen and(min-width: @tabletViewportWidth) {

    html body.is--ctl-listing, html body.is--ctl-ostarticlesearch, html body.is--ctl-search {
        section.content-main {
            margin-top: 0;

            aside.sidebar-main.off-canvas {
                display: none;
            }

            div.content.listing--content, div.content.search--content {
                padding-top: 0;
                margin-top: 0;
            }
        }
    }
}