


.ost-article-family {

    margin-bottom: 20px;

    div.title {

        padding: 10px 15px 10px 15px !important;
        margin: 0;
        line-height: 24px;
        font-size: 14px !important;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-clip: padding-box;
        border: 1px solid #dadae5;
        white-space: nowrap;
        color: #3f4c58;
        border-bottom-color: #fff !important;
        background: #fff;

    }


    div.product-slider {
        border: 1px solid #dadae5;
    }


}


